.checkout{
    border-bottom: 1px solid #ddd;
}
.shopping-cart{
    table {
        thead th{
            padding-top: 0;
        }
        td,th {
            font-size: 14px;
            vertical-align: middle;
            border: 0
                
        }
    }
}


/*product page*/
.product-header{
    height: 50px; 
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    border-bottom: 1px solid #ececec;
        .h5,h5{
        margin: 0;
    }
}
.product-detail{
    .nav-tabs {
        a {
         color: #212529;
         height: 50px;
         border: 0;
         line-height: 34px;
         
         
         &.active{
             border: 0;
             border-bottom: 1px solid #ececec;
             color:  $theme_color;
         }
             
        }
    }
}
/*categories*/
.category-card { 
    overflow: hidden; 
    cursor: pointer ;
    border: 0;
}
.category-nav .nav-link { 
    padding-left: 0;
    color: $theme_color;
    width: 100%;
    &:hover{
        color: #777;
    }
}

/*categories*/