body {
    font-size: 14px;
}
button{
    &:focus,&:hover,&:active {
        outline: 0;
    }
    
}
.text-shadow {
    text-shadow: 0 2px 2px rgba(0,0,0,0.5) ;
}

.bg-danger{
    background-color: $theme_color;
}
.btn-danger{
    background-color: $theme_color;
    border-color: $theme_color;
}
.text-danger{
    color: $theme_color !important;
}
