@media screen and (max-width: 1199gitpx) {
    .container {
        max-width: 970px;
        width: 100%;
        padding: 0 15px;
        margin: 0 auto;
    }

    .section {
        padding: 100px 0;
    }

    .section-sm {
        padding: 60px 0;
    }

    h1 {
        font-size: 45px;
        font-weight: 800;
    }

    .banner-head .banner-discription {
        margin: 20px 0;
        max-width: 385px;
    }

    .video {
        top: 0;
        width: 475px;
        height: 265px;
        right: 5px;
    }

    .laptop-video::after {
        height: 605px;
        width: 600px;
        top: 0;
    }

    .brand-title h2 {
        font-size: 46px;
    }

    .checklist-heading,
    .checklist-heading span,
    .bg-h2 {
        font-size: 46px;
        font-weight: 600;
    }

    .check-info h3 {
        margin-bottom: 25px;
        font-size: 18px;
        font-weight: 600;
    }

    .checklist-left-side {
        padding-right: 50px;
    }

    .checklist-discription,
    .discription {
        font-size: 18px;
    }

    .Scalability-left-side {
        padding-left: 45px;
    }

    @keyframes third {
        to {
            height: 350px;
            width: 350px;
            opacity: 1;
        }
    }

    @keyframes second {
        to {
            height: 250px;
            width: 250px;
            opacity: 1;
        }
    }

    @keyframes first {
        to {
            height: 150px;
            width: 150px;
            opacity: 1;
        }
    }

    .mobile-section-left-side {
        padding-right: 50px;
    }

    .client-name {
        margin-bottom: 5px;
    }

    .inverted-comma {
        height: 45px;
        width: 45px;
    }

    .ecommerce {
        align-items: center;
    }

    .ecommerce-left-side {
        padding-right: 70px;
    }

    .icon {
        height: 45px;
        width: 45px;
    }

    .social-icon {
        grid-template-columns: 80px 80px 80px;
        grid-template-rows: 80px 80px 80px;
        column-gap: 20px;
    }

    .card {
        width: 350px;
        padding: 20px;
    }

    .cards {
        top: 45px;
    }

    .rihgt-side-Ecommerce-automation {
        padding: 100px 0 100px 40px;
        width: 60%;
    }

    .left-side-Ecommerce-automation {
        padding: 100px 0px;
    }

    .product {
        margin-left: 100px;
    }

    .product-cols {
        width: 33%;
        margin: 45px 0 0 0;
    }

    .Reliability-head {
        margin: 0 0 0 100px;
    }

    .product-discription {
        width: 85%;
    }

    .product-title {
        margin: 15px 0 16px;
    }

    .bussines-main-heading {
        font-size: 46px;
        font-weight: 600;
        padding-bottom: 50px;
    }

    .client-heading {
        font-size: 130px;
    }
}

@media screen and (max-width: 575px) {
    .container {
        padding: 0 15px;
    }

    .section {
        padding: 80px 0;
    }

    .section-sm {
        padding: 50px 0;
    }

    .header {
        padding: 15px 0;
    }

    .nav {
        display: none;
    }

    .video-wrapper {
        display: none;
    }

    .banner {
        background-image: none;
    }

    .banner-head {
        min-width: 300px;
    }

    h1 {
        font-size: 40px;
        font-weight: 900;
    }

    .banner-discription {
        font-size: 16px;
        margin: 24px 0;
        line-height: 1.5;
    }

    .brand-title h2 {
        font-size: 30px;
        font-weight: 800;
        text-align: left;
    }

    .brand-img {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 100px;
        margin-left: 30px;
    }

    .svg-logo {
        width: 120px;
        height: 150px;
        width: 100px;

    }

    .title {
        font-size: 16px;
        font-weight: 700;
    }

    .checklist-left-side {
        padding-right: 0;
    }

    .bg-h2 {
        font-size: 30px;
    }

    .checklist-left-side {
        width: 100%;
        margin-bottom: 25px;
    }

    .checklist-right-side {
        width: 100%;
    }

    .Scalability {
        flex-wrap: wrap;
    }

    .Scalability-left-side {
        width: 75%;
        order: 2;
        margin-top: 400px;
    }

    .Scalability-right-side {
        width: 100%;
        margin-bottom: 25px;
    }

    .mobile-section-right-side {
        display: none;
    }

    .mobile-section-left-side {
        width: 100%;
        padding: 80px 0;
    }

    .mobile-heading {
        line-height: 1.3;
    }

    .ecommerce-left-side {
        width: 110%;
        padding-right: 0;
    }

    .ecommerce-right-side {
        width: 90%;
    }

    .ecommerce-left-side br {
        display: none;
    }

    @keyframes third {
        to {
            height: 300px;
            width: 300px;
            opacity: 1;
        }
    }

    @keyframes second {
        to {
            height: 200px;
            width: 200px;
            opacity: 1;
        }
    }

    @keyframes first {
        to {
            height: 100px;
            width: 100px;
            opacity: 1;
        }
    }

    .toggle-icon {
        display: block;
    }

    .ecommerce {
        display: flex;
        flex-wrap: wrap;
    }

    .ecommerce-right-side {
        margin: 50px 0 0 30px;
    }

    .expand-title {
        width: 100%;
    }

    .Ecommerce-automation {
        flex-wrap: wrap;
        padding: 80px 0;
    }

    .left-side-Ecommerce-automation {
        order: 2;
        width: 100%;
        position: relative;
        z-index: 10;
        margin-top: 50px;
        padding: 0;
    }

    ul.cards li {
        margin: 10px auto;
    }


    .rihgt-side-Ecommerce-automation {
        width: 100%;
        background-color: transparent;
        padding: 0;

    }

    .cards {
        top: 3%;
    }

    .card {
        width: 290px;
        padding: 10px;
    }


    @keyframes svg-line {
        100% {
            max-height: 400px;
        }
    }

    .card-second {
        animation-delay: 1.5s;
    }

    .automation::after {
        display: none;
    }

    .Reliability-head {
        margin: 0;
    }

    .product {
        margin-left: 0;
        width: 100%;
    }

    .product-cols {
        width: 100%;
        margin: 45px 0 0 0;
    }

    .product-discription {
        width: 90%;
        font-size: 18px;

    }

    .product-discription a {
        color: blue;
        text-decoration: underline;
    }

    .product-cols-second {
        width: 85%;
    }

    .clients-sale {
        display: flex;
        flex-wrap: wrap;
    }

    .client-info br {
        display: none;
    }

    .client-info {
        margin: 15px 0 50px;
    }

    .client-heading {
        font-size: 95px;
    }

    .expand-title {
        font-size: 27px;
        margin-bottom: 25px;
    }

    .footer-head {
        display: block;
        padding-top: 24px;
    }

    .other-page-link {
        flex-basis: 25%;
        flex-wrap: wrap;
    }

    .social-link {
        margin-top: 10px;
    }

    .footer-rows {
        flex-wrap: wrap;
    }

    .social-link a {
        margin: 0 10px 0 0;
    }

    .footer-cols {
        /* padding-right: 22PX; */
        flex-basis: 50%;
    }

    .footer-cols-fifth {
        order: 2;
    }

    .footer-cols-second {
        order: 6;
    }

    .terms-conditions {
        display: flex;
        flex-direction: column;
    }

    .footer-bottom {
        display: inline-block;
        line-height: 2;
    }

    .terms-conditions a {
        margin-left: 0;
    }

    .first-hr {
        margin: 20px 0 30px;
    }

    .second-hr {
        margin-top: 35px;
    }
}