/*  FOR LAPTOP SECREEN */
@media screen and (max-width: 1440px) {
  .container {
    max-width: 1140px;
  }

  .section {
    padding: 100px 0;
  }

  .section-sm {
    padding: 60px 0;
  }

  .banner-title {
    width: 80%;
  }

  .banner-head .banner-discription {
    margin: 20px 0;
    max-width: 385px;
  }

  .video {
    top: 0;
    width: 475px;
    height: 265px;
    right: 53px;
  }

  .laptop-video::after {
    height: 605px;
    width: 600px;
    top: 0;
  }

  .checklist-heading,
  .checklist-heading span,
  .bg-h2,
  .brand-title h2,
  h1 {
    font-size: 45px;
    font-weight: 600;
  }

  .check-info h3 {
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 600;
  }

  .checklist-left-side {
    padding-right: 50px;
  }

  .checklist-discription,
  .discription {
    font-size: 18px;
  }

  .Scalability-left-side {
    padding-left: 45px;
  }

  @keyframes third {
    to {
      height: 350px;
      width: 350px;
      opacity: 1;
    }
  }

  @keyframes second {
    to {
      height: 250px;
      width: 250px;
      opacity: 1;
    }
  }

  @keyframes first {
    to {
      height: 150px;
      width: 150px;
      opacity: 1;
    }
  }

  .mobile-section-left-side {
    padding-right: 50px;
  }

  .client-name {
    margin-bottom: 5px;
  }

  .inverted-comma {
    height: 45px;
    width: 45px;
  }

  .ecommerce {
    align-items: center;
  }

  .ecommerce-left-side {
    padding-right: 70px;
  }

  .icon {
    height: 45px;
    width: 45px;
  }

  .social-icon {
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: 80px 80px 80px;
    column-gap: 20px;
  }

  .card {
    width: 350px;
    padding: 20px;
  }

  .cards {
    top: 45px;
  }

  .rihgt-side-Ecommerce-automation {
    padding: 100px 0 100px 75px;
    width: 60%;
  }

  .left-side-Ecommerce-automation {
    padding: 100px 0px;
  }

  .product {
    margin-left: 100px;
  }

  .product-cols {
    width: 31%;
    margin: 45px 20px 0 0;
  }

  .Reliability-head {
    margin: 0 0 0 100px;
  }

  .product-title {
    margin: 15px 0;
  }

  .bussines-main-heading {
    font-size: 46px;
    font-weight: 600;
    padding-bottom: 50px;
  }

  .client-heading {
    font-size: 130px;
  }

  .expand-title {
    width: 60%;
  }

  .checklist-heading {
    width: 85%;
  }
}

/* FOR TABLET SECREEN */
@media screen and (max-width: 991px) {
  .container {
    max-width: 960px;
    padding: 0 50px;
  }

  .nav {
    display: none;
  }

  .toggle-icon {
    display: block;
  }

  .video-wrapper {
    display: none;
  }

  .banner {
    background-image: none;
  }

  .banner-head {
    min-width: 650px;
  }

  .bg-h2 h2,
  .checklist-heading span,
  .bg-h2,
  .mobile-heading,
  .bussines-main-heading {
    font-size: 40px;
  }

  .brand-img {
    flex-wrap: wrap;
  }

  .brand-img .svg-logo {
    max-height: 170px;
    max-width: 170px;
    width: 50%;
  }

  .checklist-left-side {
    width: 100%;
    margin-bottom: 25px;
  }

  .checklist-right-side {
    width: 100%;
  }

  .Scalability {
    flex-wrap: wrap;
    justify-content: center;
  }

  .Scalability-left-side {
    width: 100%;
    order: 2;
    margin-top: 400px;
    padding: 0;
  }

  .Scalability-right-side {
    width: 100%;
  }

  .mobile-section-right-side {
    display: none;
  }

  .mobile-section-left-side {
    width: 100%;
    padding: 100px 0;
  }

  .ecommerce {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .social-icon {
    grid-template-columns: 80px 80px 80px 80px 80px;
    grid-template-rows: 80px 80px;
    column-gap: 20px;
  }

  .ecommerce-right-side {
    margin-top: 50px;
  }

  .expand-title {
    width: 85%;
  }

  .Ecommerce-automation {
    flex-wrap: wrap;
    padding: 100px 0;
  }

  .left-side-Ecommerce-automation {
    order: 2;
    width: 100%;
    position: relative;
    z-index: 10;
    margin: 65px 0 80px;
    padding: 0;
  }

  .rihgt-side-Ecommerce-automation {
    width: 100%;
    background-color: transparent;
    padding: 0;
  }

  .automation::after {
    display: none;
  }

  .cards {
    top: 20px;
  }

  .card {
    width: 485px;
  }

  ul.cards li {
    margin: 25px auto;
  }

  .product-cols {
    width: 40%;
    margin: 45px 45px 0 0;
  }

  .product-discription {
    width: 100%;
  }

  .Reliability-head {
    margin: 0;
  }

  .product {
    margin-left: 0;
    width: 100%;
  }

  .clients-sale {
    grid-template-columns: 1fr;
  }

  .client-info {
    margin: 15px 0 50px;
  }

  .client-heading {
    font-size: 100px;
  }

  .footer-head {
    display: block;
    line-height: 3;
  }

  .other-page-link li a {
    padding-right: 14px;
  }

  .social-link a {
    margin: 0 15px 0 0;
  }

  .first-hr {
    margin: 25px 0;

  }

  .footer-rows {
    flex-wrap: wrap;
  }

  .footer-cols {
    padding-right: 30PX;
    flex-basis: 33%;
  }

  .footer-cols-fifth {
    order: 2;
  }

  .footer-cols-second {
    order: 6;
  }

}

/* FOR TABLET SECREEN */












/*  FOR MOBILE SECREEN */
@media screen and (max-width: 575px) {
  .header {
    padding: 15px 0;
  }

  .container {
    padding: 0 15px;
  }

  .section {
    padding: 80px 0;
  }

  .section-sm {
    padding: 50px 0;
  }

  .banner-title {
    width: 100%;
  }

  .banner-head {
    min-width: 300px;
  }

  h1 {
    font-size: 40px;
    font-weight: 700;
  }

  .banner-discription {
    font-size: 16px;
    margin: 24px 0;
    line-height: 1.5;
  }

  .brand-title h2 {
    font-size: 32px;
    font-weight: 800;
    text-align: left;
  }

  .brand-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px;
    margin-left: 30px;
  }

  .svg-logo {
    width: 120px;
    height: 150px;
    width: 100px;
  }

  .title {
    font-size: 16px;
    font-weight: 700;
  }

  .checklist-left-side {
    padding-right: 0;
  }

  .bg-h2 h2,
  .checklist-heading span,
  .bg-h2,
  .mobile-heading,
  .bussines-main-heading {
    font-size: 32px;
  }

  .inverted-comma {
    height: 35px;
    width: 35px;
  }

  .Scalability-left-side {
    margin-top: 280px;
    width: 75%;
  }

  .Scalability-right-side {
    width: 100%;
    margin-bottom: 25px;
  }

  .mobile-section-left-side {
    width: 100%;
    padding: 80px 0;
  }

  .mobile-heading {
    line-height: 1.3;
  }

  .ecommerce {
    justify-content: center;
  }

  .social-icon {
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: 80px 80px 80px;
    column-gap: 20px;
  }

  .left-side-Ecommerce-automation {
    margin: 50px 0 0 0;
  }

  .ecommerce-left-side {
    width: 110%;
    padding-right: 0;
  }

  .ecommerce-right-side {
    width: 90%;
  }

  .ecommerce-left-side br {
    display: none;
  }

  @keyframes third {
    to {
      height: 300px;
      width: 300px;
      opacity: 1;
    }
  }

  @keyframes second {
    to {
      height: 200px;
      width: 200px;
      opacity: 1;
    }
  }

  @keyframes first {
    to {
      height: 100px;
      width: 100px;
      opacity: 1;
    }
  }

  .ecommerce-right-side {
    margin: 50px 50px 0;
  }

  .expand-title {
    width: 100%;
  }

  .Ecommerce-automation {
    padding: 80px 0;
  }

  .cards {
    top: 10px;
  }

  ul.cards li {
    margin: 10px auto;
  }

  .card {
    width: 290px;
    padding: 10px;
    margin: 0 auto;
  }

  @keyframes svg-line {
    100% {
      max-height: 400px;
    }
  }

  @keyframes third {
    to {
      height: 250px;
      width: 250px;
      opacity: 1;
    }
  }

  @keyframes second {
    to {
      height: 150px;
      width: 150px;
      opacity: 1;
    }
  }

  @keyframes first {
    to {
      height: 75px;
      width: 75px;
      opacity: 1;
    }
  }

  .card-second {
    animation-delay: 1.5s;
  }

  .product-cols {
    width: 100%;
    margin: 45px 0 0 0;
  }

  .product-discription {
    width: 100%;
    font-size: 18px;
  }

  .product-discription a {
    color: blue;
    text-decoration: underline;
  }

  /* .product-cols-second {
    width: 85%;
  } */

  .client-info br {
    display: none;
  }

  .client-heading {
    font-size: 75px;
  }

  .expand-title {
    font-size: 27px;
    margin-bottom: 25px;
  }

  .other-page-link {
    flex-basis: 25%;
    flex-wrap: wrap;
    line-height: 1.7;
  }

  .social-link {
    margin-top: 10px;
  }

  .social-link a {
    margin: 0 10px 0 0;
  }

  .footer-cols {
    flex-basis: 50%;
  }

  .terms-conditions {
    display: flex;
    flex-direction: column;
  }

  .footer-bottom {
    display: inline-block;
    line-height: 2;
  }

  .terms-conditions a {
    margin-left: 0;
  }

  .first-hr {
    margin: 20px 0 30px;
  }

  .second-hr {
    margin-top: 35px;
  }
}

/*  FOR MOBILE SECREEN */