* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}


/*---------------common Classes start--------------- */

.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding: 144px 0;
}

.section-sm {
    padding: 80px 0;
}

.bg-black {
    background-color: #000;
}

.white {
    color: #fff;
}

.green {
    color: #d0f224;
}

.blue {
    color: #1238bf;
    margin-bottom: 16px;
}

.light-black {
    color: #3d3f40;
}

.bg-gray {
    background-color: #f5f5f5;
}

.btn,
.btn-blue {
    text-decoration: none;
    color: #000;
    padding: 14px 32px;
    font-weight: 700;
    border-radius: 3px;
    background-color: #d0f224;
    display: inline-block;
    cursor: pointer;
}

.btn-blue {
    background-color: #1238bf;
    color: #fff;
}

.btn:hover {
    background-color: #b5d60d;
}

.btn-blue:hover {
    background-color: #091d62;
}

.margin-b-sixteen {
    margin-bottom: 16px;
}

.txt-dec-none {
    text-decoration: none;
}


/*---------------common classes end---------------*/


/*---------------header start---------------*/

.header {
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    background-color: #15141b;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo_nav {
    display: flex;
    justify-content: space-between;
}

.logo a {
    text-decoration: none;
    color: #fff;
}

.ninja_regular_text {
    font-weight: 200;
}

.main_logo {
    display: flex;
    align-items: center;
}

.logo_icon {
    height: 30px;
    width: 30px;
}

.logo-img {
    font-size: 20px;
    font-weight: 500;
    font-style: oblique;
}

.navbar {
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li a {
    cursor: pointer;
    overflow: hidden;
}

.navbar li {
    padding: 4px 8px;
    font-weight: 700;
}

.dropdown-of-nav {
    border: none;
    background-color: transparent;
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
}

.nav-items-hover a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.nav-item {
    display: flex;
    align-items: center;
    position: relative;
}

.nav-items-hover {
    color: #000;
    padding: 10px 20px!important;
}

.nav-items-hover a {
    opacity: 0;
    transition: all 1s ease 0s;
}

.nav-items-hover:hover {
    background: #dbdcdc;
}

.navbar-hover {
    list-style: none;
    position: absolute;
    top: 45px;
    min-width: 240px;
    background-color: #fff;
    max-height: 0;
    box-shadow: 0 6px 11px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
    overflow: hidden;
}

.nav-item:hover .navbar-hover {
    max-height: 1000px;
}

.nav-item:hover .nav-items-hover a {
    opacity: 1;
}

.svg-icon {
    margin-left: 5px;
    height: 10px;
    width: 10px;
    stroke: #fff;
    stroke-width: 50px;
    transform: rotate(90deg);
    fill: #ffffff;
}

.nav-item:hover .svg-icon {
    position: relative;
    top: 5px;
    transition: all 0.8s;
}


/*---------------header end---------------*/


/*---------------Banner start---------------*/

.banner {
    background-color: #000;
    background-image: url("../img/background.svg");
    background-repeat: no-repeat;
    background-position: right;
}

h1 {
    font-size: 80px;
    font-weight: 900;
    letter-spacing: -0.025em;
    max-width: 543px;
    width: 100%;
}

.banner-head .banner-info,
.title {
    margin-bottom: 16px;
}

.banner-head .banner-discription {
    margin: 24px 0;
    max-width: 525px;
    width: 100%;
}

.banner-head,
.video-wrapper {
    width: 50%;
}

.banner-info,
.banner-discription {
    font-size: 18px;
}

.video-banner {
    display: flex;
    width: 100%;
}

.video-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video {
    position: relative;
    z-index: 3;
    border: solid 2px #c1c3c3;
    height: 24rem;
}

.laptop-video::after {
    content: "";
    height: 698px;
    width: 860px;
    display: block;
    position: absolute;
    top: 25px;
    left: -70px;
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20846%20436.28%22%3E%3Cg%20data-name=%22Layer%202%22%3E%3Cg%20data-name=%22Layer%201%22%3E%3Cpath%20fill=%22%23f5f5f5%22%20d=%22M780%20409.11v-399A10.05%2010.05%200%200%200%20769.94%200H76.06A10.05%2010.05%200%200%200%2066%2010.06v399.05H0v14.09a13.08%2013.08%200%200%200%2013.08%2013.08h819.84A13.08%2013.08%200%200%200%20846%20423.2v-14.09z%22/%3E%3Cpath%20fill=%22%23bbbcbd%22%20d=%22M369.18%20408.11h107.64a10.06%2010.06%200%200%201-10.06%2010.06h-87.52a10.06%2010.06%200%200%201-10.06-10.06z%22/%3E%3Ccircle%20cx=%22425%22%20cy=%227%22%20r=%223%22%20fill=%22%233d3f40%22/%3E%3Cpath%20fill=%22%23bbbcbd%22%20d=%22M66%20406.72h714v2H66z%22/%3E%3C/g%3E%3C/g%3E%3C/svg%3E);
    background-repeat: no-repeat;
    overflow: hidden;
}


/*---------------Banner end---------------*/


/*---------------logo section start---------------*/

.svg-logo {
    height: 150px;
    width: 150px;
}

.brand-img {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 40px;
}

.brand-title h2 {
    font-size: 56px;
    font-weight: 700;
    text-align: center;
}


/*---------------logo section end---------------*/


/*---------------checklist section start---------------*/

.animation {
    opacity: 0;
    animation: opacity 2s linear 1s forwards;
}

@keyframes opacity {
    to {
        opacity: 1;
    }
    from {
        opacity: 0;
    }
}

.checklist {
    display: flex;
    align-items: center;
}

.checklist-left-side {
    padding-right: 200px;
    width: 57%;
}

.checklist-right-side {
    width: 43%;
}

.checklist-title,
.title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px;
}

.checklist-heading,
.checklist-heading span,
.bg-h2 {
    font-size: 56px;
    font-weight: 800;
}

.checklist-discription,
.discription {
    font-size: 20px;
    line-height: 1.77;
    margin: 16px 0;
}

.check-col {
    display: flex;
}

.check-icon {
    height: 30px;
    width: 30px;
    fill: #1238bf;
    stroke: #1238bf;
    stroke-width: 40px;
}

.check-info h3 {
    padding-left: 16px;
    margin-bottom: 16px;
    line-height: 1.4;
    font-weight: 800;
    font-size: 20px;
}


/*---------------checklist section end---------------*/


/*---------------Scalability section start---------------*/


/* ======animation====== */

.four-circle {
    display: flex;
    justify-content: center;
    position: relative;
    transform: rotate(180deg);
}

.first,
.second,
.third {
    height: 100px;
    width: 100px;
    opacity: 0;
    border: 3px solid#1238bf;
    border-radius: 50%;
    position: absolute;
}

.first {
    animation: first 1s linear 1s forwards;
}

.second {
    animation: second 1s linear 1s forwards;
}

.third {
    animation: third 1s linear 1s forwards;
}

@keyframes first {
    to {
        height: 180px;
        width: 180px;
        opacity: 1;
    }
    from {
        height: 100px;
        width: 100px;
    }
}

@keyframes second {
    to {
        height: 300px;
        width: 300px;
        opacity: 1;
    }
    from {
        height: 100px;
        width: 100px;
    }
}

@keyframes third {
    to {
        height: 435px;
        width: 435px;
        opacity: 1;
    }
    from {
        height: 100px;
        width: 100px;
    }
}


/* ======animation====== */

.Scalability {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Scalability-checklist {
    width: 100%;
}

.Scalability-left-side {
    width: 50%;
    padding-left: 200px;
}

.Scalability-right-side {
    width: 63%;
}

.Scalability-checklist {
    padding: 0;
}


/*---------------Scalability section end---------------*/


/* mobile section start */

.mobile-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inverted-comma {
    fill: #000;
    stroke: #000;
    height: 55px;
    width: 55px;
    margin-top: 10px;
    stroke-width: 10px;
    transform: rotate(180deg);
}

.mobile-section-left-side {
    padding-right: 200px;
}

.mobile-section-right-side {
    margin-top: -40px;
    padding-bottom: 40px;
}

.mobile-heading {
    font-size: 40px;
    font-weight: 900;
    line-height: 1.5;
    margin-bottom: 16px;
}

.client-name {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
}


/* mobile section end */


/* ecommerce section start */

.ecommerce {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.ecommerce-left-side {
    padding-right: 200px;
}

.social-icon {
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 120px 120px 120px;
    row-gap: 40px;
    column-gap: 30px;
}

.icon {
    height: 55px;
    width: 55px;
}


/* ecommerce section end */


/* Bussiness information section start */

.expand-title {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 48px;
    width: 65%;
}


/* Bussiness information section end */


/* Ecommerce automation information section start */

.Ecommerce-automation {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.left-side-Ecommerce-automation {
    background-color: #f5f5f5;
    position: relative;
    width: 50%;
    right: -135px;
    padding: 144px 0px;
}

.rihgt-side-Ecommerce-automation {
    width: 50%;
    padding: 145px 0 145px 100px;
    background-color: #fff;
}

.cards {
    position: absolute;
    top: 170px;
    list-style: none;
}

.card {
    height: 125x;
    width: 465px;
    background-color: #fff;
    box-shadow: 0 0px 6px #f0efef;
    padding: 30px;
    font-weight: 500;
}

.card-info {
    border: 1px solid #f0efef;
    padding: 10px;
    margin: 10px 0;
}

.automation {
    position: relative;
}

.rihgt-side-Ecommerce-automation {
    position: relative;
    z-index: 5;
}

.automation::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background-color: #fff;
    width: 500px;
}

.card-second .card-title {
    margin-bottom: 10px;
}

.card-second .card-info {
    width: 55%;
}

.card-line {
    background-color: #d6d7d8;
    border-radius: 40px;
    height: 3px;
    width: 40%;
}

.card-info-time {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.card-time:nth-child(1) {
    margin-left: 0;
}

.card-time {
    display: flex;
    align-items: center;
}

.card-second .card-info {
    margin: 0;
}

.both-line {
    display: flex;
    column-gap: 20px;
}

.mini-line {
    width: 10%;
    margin-left: 70px;
}

.colon {
    font-size: 20px;
    margin-left: 10px;
}

.time-in-hours,
.time-in-mintue,
.time-type {
    border: 1px solid #f0efef;
    padding: 10px;
    margin-left: 10px;
}

.check-value {
    display: flex;
    align-items: center;
    margin: 10PX 0;
}

.check-value svg {
    border: 1px solid #d6d7d8;
    height: 20px;
    width: 20px;
    fill: #000;
    stroke: #000;
    padding: 1PX;
    stroke-width: 10px;
    margin-right: 10px;
}

.card-third .check-value .card-line {
    width: 60%;
}

.card-line-sm {
    width: 35% !important;
}


/* Ecommerce automation information section end */


/* 7 Reliability and support information section srart */

.Reliability-head {
    margin: 0 0 80px 100px;
}

.product {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.product-title {
    margin: 24px 0 16px;
    font-weight: 600;
    font-size: 20px;
}

.product-cols {
    width: 25%;
    margin: 0 0 48px 100px;
}

.product-icon {
    fill: #8d9091;
    stroke: #8d9091;
    stroke-width: 5px;
}

.product-discription {
    line-height: 1.5;
    width: 65%;
}


/* 7 Reliability and support information section end */


/* 8 Bussiness growth section start  */

.clients-sale {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bussines-main-heading {
    font-size: 56px;
    font-weight: 800;
    padding-bottom: 70px;
}

.client-heading {
    font-size: 200px;
    line-height: 1;
    font-weight: 100;
    font-family: 'Fjalla One', sans-serif;
}

.client-info {
    margin-top: 16px;
    font-weight: 800;
    line-height: 1.5;
}


/* 8 Bussiness growth section end */


/* footer start */

.footer-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
}

.footer-rows {
    display: flex;
    list-style: none;
}

.footer a:hover {
    color: #fff;
}

.social-link svg:hover {
    fill: #fff;
}

.other-page-link {
    display: flex;
    list-style: none;
}

.other-page-link li a {
    text-decoration: none;
    color: #8d9091;
    font-weight: 700;
    padding-right: 15px;
}

.footer-icon {
    width: 24px;
    height: 24px;
    fill: #8d9091;
}

.gray {
    color: #8d9091;
}

.social-link a {
    text-decoration: none;
    margin-left: 15px;
}

.footer-nav {
    list-style: none;
}

.footer-item a,
.footer-bottom a {
    text-decoration: none;
    color: #8d9091;
}

.menu-title {
    margin: 24PX 0;
}

.footer-item {
    padding-bottom: 16PX;
}

.footer-cols {
    padding-right: 16PX;
    flex-basis: 17%;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px 0;
}

.terms-conditions a {
    margin-left: 15px;
}

.first-hr {
    margin: 24px 0 48px;
    border: none;
    height: 1px;
    background-color: #3d3f40;
}

.second-hr {
    margin-top: 48px;
    border: none;
    height: 1px;
    background-color: #3d3f40;
}

.footer-bottom .logo a {
    color: #fff;
}


/* footer end */